<h1>To-Do List</h1>

<h2>Incomplete To-Do</h2>

<ul>
  {{#each todos}}
    {{#unless done}}
      {{> todos/todo-block done=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Completed To-Do</h2>

<ul>
  {{#each todos}}
    {{#if done}}
      {{> todos/todo-block done=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a To-Do</h2>

<form class="create-form">

  <div class="form-group">
    <label for="todo-text">To-Do:</label>
    <input type="text" id="todo-text" name="name">
  </div>

  <button type="submit">Add To-Do</button>

</form>