<nav class="background-image">
    <div class="header-background" id="navbar-heading-wrapper">
        <h1 class="text-center">To-Do List</h1>
    </div>
</nav>

<div class="container mt-5">
    <div class="row">
        <div class="col-sm">
            <h2 class="text-center">Incomplete To-Do</h2>
            <ul class="text-right">
                {{#each todos}}
                    {{#unless done}}
                        {{> todos/todo-block done=true}}
                    {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col-sm">
            <h2 class="text-center">Completed To-Do</h2>
            <ul class="text-right">
                {{#each todos}}
                    {{#if done}}
                        {{> todos/todo-block done=false}}
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<div class="container text-center mt-3">
    <h2>Add a To-Do</h2>

    <form class="create-todo">

        <div class="form-group">
            <input class="form-control form-control-lg" type="text" id="todo-text" name="todoText" placeholder="New To-Do">
        </div>

        <button class="btn btn-primary" type="submit">Add To-Do</button>

    </form>
</div>

